@page "{id:int?}"
@model Hostels.WebApp.Pages.Guides.Services.Edit

<form method="post">
    <input type="hidden" asp-for="@Model.Entity!.Id"/>
    <div class="mb-3">
        <label asp-for="@Model.Entity!.Title"></label>
        <input asp-for="@Model.Entity!.Title" class="form-control"/>
        <span class="text-danger" asp-validation-for="@Model.Entity!.Title"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Entity!.Description"></label>
        <input asp-for="@Model.Entity!.Description" class="form-control"/>
        <span class="text-danger" asp-validation-for="@Model.Entity!.Description"></span>
    </div>
    <div class="mb-3">
        <label>Вид услуги</label>
        <select asp-for="@Model.Entity!.ServiceTypeId" class="form-control" asp-items="@Model.ServiceTypes"></select>
        <span class="text-danger" asp-validation-for="@Model.Entity!.Description"></span>
    </div>

    <div class="d-grid gap-2 d-md-block">
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a asp-page="./List" class="btn btn-outline-secondary">Назад</a>
    </div>
</form>